- if defined? value
	.grid-output.unit.span-3-of-4
		== glorify value[0], fenced_code_blocks: 'enabled', line_numbers: true, wrap: true
		== glorify value[1], fenced_code_blocks: 'enabled', line_numbers: true, wrap: true
