== partial 'partials/_region-generator', :template_engine => :slim
== partial 'partials/_region-example', :template_engine => :slim
== partial 'partials/_region-how-it-works', :template_engine => :slim
== partial 'partials/_region-advanced-use', :template_engine => :slim
== partial 'partials/_region-copyright', :template_engine => :slim
