== partial 'partials/_region-generator',    :template_engine => :slim
== partial 'partials/_region-preview',      :template_engine => :slim
== partial 'partials/_region-basic-use',    :template_engine => :slim
== partial 'partials/_region-semantic-use', :template_engine => :slim
== partial 'partials/_region-copyright',    :template_engine => :slim
