$fa-css-prefix: 'i';
.#{$fa-css-prefix} {
  position: relative;
  padding-left: 30px;
  font-weight: 300;
  vertical-align: top;
  line-height: 22px;
  @include font-smoothing();
  &:before {
    font-family: 'FontAwesome';
		position: absolute;
		left: 0;
    color: $color-a;
    @include transition(all .2s);
  }
}
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-pndebg');
  src:url('fonts/icomoon.eot?#iefix-pndebg') format('embedded-opentype'),
    url('fonts/icomoon.woff?-pndebg') format('woff'),
    url('fonts/icomoon.ttf?-pndebg') format('truetype'),
    url('fonts/icomoon.svg?-pndebg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ico-moon {
  position: relative;
  padding-left: 30px;
  font-weight: 300;
  vertical-align: top;
  line-height: 22px;
  @include font-smoothing();
  &:before {
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: $color-a;
    @include transition(all .2s);
  }
  &.icon-less:before {
    content: "\e604";
  }

  &.icon-sass:before {
    content: "\e607";
  }

  &.icon-css3:before {
    content: "\e602";
  }

  &.icon-html5:before {
    content: "\e603";
  }

  &.icon-micalexander:before {
    content: "\e600";
  }
}



