html {
	min-height: 100%;
  border-top: 10px solid #8c5245;
}

body {
  position: relative;
  padding: 40px 0 0 0;
  background: #fff5ee;
  .wave {
    position: absolute;
    bottom: 0;
  }
  .region {
    padding: 0 3%;
    max-width: 2000px;
    margin: 0 auto;
  }
}
