// /*
// -------------------------------------------------------------------------------
//  Variables
// -------------------------------------------------------------------------------
// */

$span                       : 12;
$columns                    : 12;
$gutters                    : 2.5%;
$at                         : 620;

$color-body                 : #8d5244;
$color-h1                   : #f9c3d0;
$color-h2                   : $color-body;
$color-h3                   : $color-body;
$color-h4                   : $color-body;
$color-h5                   : $color-body;
$color-h6                   : $color-body;
$color-p                    : $color-body;
$color-a                    : #fc880f;
$color-a-hover              : #f9c3d0;
$color-a-selected           : #f9c3d0;
$color-font-awesome         : #cccccc;
$color-selection            : #ffffff;
$color-selection-backgound  : #f9c3d0;
$color-inputs               : $color-body;

$font-body                  : 'Open sans', Arial, sans-serif;
$font-h1                    : 'Chicle', cursive;
$font-h2                    : $font-h1;
$font-h3                    : $font-h1;
// $font-h4                    : $font-h1;
// $font-h5                    : $font-h1;
// $font-h6                    : $font-h1;
// $font-a                     : $font-body;

// $font-awesome-class         : 'fa';

// $font-size-html             : 62.5%;
// $font-size-h1               : 32;
// $font-size-h2               : 24;
$font-size-h3               : 30;
$font-size-h4               : 18;
$font-size-h5               : 16;
// $font-size-h6               : 10;
// $font-size-p                : 16;
// $font-size-a                : 16;
// $font-size-blockquote       : 16;

// $font-weight-normal         : 400;
// $font-weight-bold           : 700;
// $font-weight-h1             : $font-weight-bold;
// $font-weight-h2             : $font-weight-h1;
// $font-weight-h3             : $font-weight-h1;
// $font-weight-h4             : $font-weight-h1;
// $font-weight-h5             : $font-weight-h1;
// $font-weight-h6             : $font-weight-h1;
// $font-weight-p              : normal;

// $line-height-html            : 1;
// $line-height-h1              : 1.2;
// $line-height-h2              : $line-height-h1;
// $line-height-h3              : $line-height-h1;
// $line-height-h4              : $line-height-h1;
// $line-height-h5              : $line-height-h1;
// $line-height-h6              : $line-height-h1;
$line-height-p                  : 1.6;

// $list-style-ul              : disc;
// $list-style-ol              : decimal;
// $list-style-ol-ol           : lower-alpha;
// $list-style-nav-ul          : none;

// $line-height-body           : 150%;

// $margin-bottom-h1           : 30px;
// $margin-bottom-h2           : 25px;
// $margin-bottom-h3           : 20px;
// $margin-bottom-h4           : 15px;
// $margin-bottom-h5           : 15px;
// $margin-bottom-h6           : 15px;
// $margin-bottom-p            : 20px;
// $margin-bottom-blockquote   : 20px;
// $margin-ul                  : 0 0 20px 1.1em;
// $margin-ol                  : 0 0 1em 2em;
// $margin-ol-li               : .5em 0;
// $margin-ul-nav              : 0 0 20px 0;

// $text-decoration-a          : none;
// $text-decoration-nav-a      : none;

// $speed                      : 250ms;

// $width-region               : 1024;
// $width-mobile               : 420;
// $width-tablet               : 768;
// $width-desktop              : 1000;