* {
	@include selection($color-selection, $color-selection-backgound);
}

html {
	font-size: $font-size-html;
	line-height: $line-height-html;
}

body {
	color: $color-body;
	font-family: $font-body;
}

h1 {
	color: $color-h1;
	margin-bottom: $margin-bottom-h1;
	font-family: $font-h1;
	font-weight: $font-weight-h1;
  line-height: $line-height-h1;
	@include font-rem($font-size-h1);
	@include mobile() {
		margin: 0 0 10px 0;
	}

}
h2 {
	margin-bottom: $margin-bottom-h2;
	color: $color-h2;
	font-family: $font-h2;
	font-weight: $font-weight-h2;
	line-height: $line-height-h2;
	@include font-rem($font-size-h2);
}
h3 {
	margin-bottom: $margin-bottom-h3;
	color: $color-h3;
	font-family: $font-h3;
	font-weight: $font-weight-h3;
	line-height: $line-height-h3;
	@include font-rem($font-size-h3);
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(140, 82, 69, 0.3);
}
h4 {
	margin-bottom: $margin-bottom-h4;
	color: $color-h4;
	font-family: $font-h4;
	font-weight: $font-weight-h4;
	@include font-rem($font-size-h4);
	line-height: $line-height-h4;
	&.i {
		font-weight: 600;
		&:before {
			font-weight: 300;
		}
	}
}

h5 {
	margin-bottom: $margin-bottom-h5;
	color: $color-h5;
	font-family: $font-h5;
	font-weight: $font-weight-h5;
	line-height: $line-height-h5;
	@include font-rem($font-size-h5);
}

h6 {
	margin-bottom: $margin-bottom-h6;
	color: $color-h6;
	font-family: $font-h5;
	font-weight: $font-weight-h6;
	@include font-rem($font-size-h6);
}

p {
	margin-bottom: $margin-bottom-p;
	color: $color-p;

	font-weight: $font-weight-p;
	line-height: $line-height-p;
	@include font-rem($font-size-p);
	@include font-smoothing();
}

a {
	color: $color-a;
	font-family: $font-a;
	text-decoration: $text-decoration-a;
	@include font-rem($font-size-a);
	&:link{-webkit-tap-highlight-color: transparent;}
	ins{background-color:transparent;color:$color-a;text-decoration: $text-decoration-a;}
	&:hover{
		color: $color-a-hover;
	}
}

ul {
	list-style: $list-style-ul ;
	margin: $margin-ul;
	nav & { // remove styling for nav ul's
		list-style: $list-style-nav-ul;
		margin: $margin-ul-nav ;
		a { text-decoration: $text-decoration-nav-a; }
	}
}

ol {
	list-style: $list-style-ol ;
	margin: $margin-ol;
	li { margin: $margin-ol-li; }
	ol { list-style: $list-style-ol-ol ; }
}

blockquote {
	margin-bottom: $margin-bottom-blockquote;
	@include font-rem($font-size-blockquote);
}

select,
input,
textarea{
	color: $color-inputs;
}

pre {
	line-height: 1.6;
	@include font-rem(10);
}

.#{$font-awesome-class} {
  position: relative;
  padding-left: 30px;
  font-weight: 300;
  vertical-align: top;
  line-height: 22px;
  @include font-smoothing();
  &:before {
    font-family: 'FontAwesome';
		position: absolute;
		left: 0;
    color: $color-font-awesome;
    @include transition(all .2s);
  }
}