.grid,
.grid.compact {
  @media (max-width: 620px) {
    width: 100%;
    margin-left: 0;
  }
}
.unit {
  border-radius: 5px;
  // @include transition(.5s);
  // @include transition-delay(.5s);
  &.wrapper {
    margin-bottom: 20px;
    & > .grid {
      margin-bottom: 0;
    }
  }
  &[class*=' span-'],
  &[class*=' offset-'] {
    .grid &,
    .grid.compact > & {
      @media (max-width: 620px) {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        &.wrapper,
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
