
// -------------------------------------------------
// Imports
// ---------------------------------------------- */
@import   "compass/";
@import   "icons/*.png";
@include  all-icons-sprites;

// -------------------------------------------------
// Variables
// ---------------------------------------------- */
$page-width     : 1024px;
$speed          : 250ms;
$mobile         : 420px;
$tablet         : 768px;
$desktop        : 1000px;
$heading-font   : 'Chicle', cursive;
$body-font      : 'Open sans', Arial, sans-serif;
$body-color     : #8d5244;
$heading-color  : #8d5244;
$link-color     : #fc880f;
$link-hover     : #f9c3d0;

/* -------------------------------------------------
** Framework
** ---------------------------------------------- */
@import "core/*";
@import "fonts/*";

/* -------------------------------------------------
** Global
** ---------------------------------------------- */
@import "global/*";

/* -------------------------------------------------
** Vendor
** ---------------------------------------------- */
@import "vendors/*";

/* -------------------------------------------------
** partials
** ---------------------------------------------- */
@import "partials/*";

/* -------------------------------------------------
** modules
** ---------------------------------------------- */
@import "modules/*";

/* -------------------------------------------------
** pages
** ---------------------------------------------- */
@import "pages/*";






