header.region {
  @include font-rem(10);
  & > section {
    @include at(400) {
      @include font-rem(12);
    }
    @include at(900) {
      @include font-rem(14);
    }
    @include at(1000) {
      @include font-rem(16);
    }
    @include grid();

    .introduction {
      @include at(670) {
        @include span(7);
      }
      @include at(780) {
        @include span(8);
      }
      h1 {
        text-align: center;
        @include font-em(122);
        @include at(670) {
          padding-left: 5px;
          text-align: left;
        }
      }
      h2 {
        font-size: 2.8em;
        text-align: center;
        margin-bottom: 20px;
        padding-left: 0;
        @include at(700) {
          text-align: left;
          padding-left: 5px;
        }
        @include at(1000) {
          margin-bottom: 30px;
        }
        @include at(1150) {
          margin-bottom: 40px;
        }
        @include at(1180) {
        }
      }
      h3 {
        margin-bottom: 30px;
        padding: 0 0 20px 0;
        border-bottom: 1px solid rgba(140, 82, 69, 0.3);
      }
      p {
        margin-bottom: 20px;
        padding-bottom: 0;
        @include font-em(18);
      }
    }
    .mascot-wrapper {
      @include at(670) {
        @include span(5);
      }
      @include at(780) {
        @include span(4);
      }
      .mascot {
        float: none;
        width: 300px;
        margin: auto;
        margin-bottom: 30px;
        @include at(670) {
          float: right;
          width: 400px;
        }
      }
    }
  }
  nav {
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid #e6d1c8;
    background: #f3e4db;
    @include border-radius();
    .actions {
      @include grid();
      .action {
        @include span(4);
      }
    }
  }
}