header.region {
  & > section {
    @include font-rem(10);
    @include at(420) {
      @include font-rem(11);
    }
    @include at(620) {
      @include font-rem(12);
    }
    @include at(820) {
      @include font-rem(14);
    }
    @include at(1000) {
      @include font-rem(16);
    }
    @include grid();

    .introduction {
      @include at(670) {
        @include span(7);
      }
      h1 {
        text-align: center;
        @include font-em(122);
        @include at(670) {
          padding-left: 5px;
          text-align: left;
          margin-bottom: 20px;
        }
        @include at(870) {
          margin-bottom: 30px;
        }
        @include at(920) {
          margin-bottom: 40px;
        }
      }
      h2 {
        @include font-em(42);
        text-align: center;
        padding-left: 0;
        @include at(670) {
          text-align: left;
          padding-left: 5px;
          margin-bottom: 10px;
        }
      }
      h3 {
        margin-bottom: 30px;
        padding: 0 0 20px 0;
        border-bottom: 1px solid rgba(140, 82, 69, 0.3);
      }
      ul {
        display: block;
        width: 280px;
        margin: 0 auto 20px;
        padding: 0;
        list-style-type: none;
        @include at(420) {
          width: 300px;
        }
        @include at(620) {
          width: 330px;
        }
        @include at(670) {
          width: auto;
        }
        li {
          @include font-em(22);
            line-height: 1.6;
          @include at(670) {
            line-height: 1.4;
          }
          @include at(720) {
            line-height: 1.8;
          }
          &:first-child {
            &:before {
              top: -10px;
              left: .45%;
              @include font-em(24);
            }
          }
        }
      }
    }
    .mascot-wrapper {
      @include at(670) {
        @include span(5);
      }
      @include at(780) {
        @include span(5);
      }
      .mascot {
        float: none;
        width: 300px;
        margin: auto;
        margin-bottom: 30px;
        @include at(670) {
          float: right;
          width: 400px;
        }
      }
    }
  }
  nav {
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid #e6d1c8;
    background: #f3e4db;
    @include border-radius();
    .actions {
      @include grid();
      .action {
        @include span(4);
      }
    }
  }
}