.region.generator {
  @include font-rem(16);
  & > section {
    @include grid();
    margin-bottom: 40px;
    h3 {
      @include font-em(30);
    }
    .generate-unit {
      // margin-bottom: 20px;
      @include at(670) {
        @include span(4);
      }
      // @include at(800) {
      //   margin-bottom: 0;
      // }
      @include at(1000) {
        @include span(2,8);
      }
      @include at(1300) {
        @include span(3,15);
      }
      .form-wrapper {
        @include grid();
        form.generate {
          margin-bottom: 20px;
          padding: 20px;
          border: 1px solid #e6d1c8;
          background: #f3e4db;
          @include border-radius();
          @include span();
          @include input-placeholder {
            color: #a98b82;
          }
          .units,
          .margin,
          .breakpoint,
          .output,
          .mixin,
          .submit {
            position: relative;
            height: 40px;
            margin-bottom: 10px;
            min-height: 26px;
            line-height: 30px;
            @include span($gutter: 0%);
            span {
              color: #a98b82;
              vertical-align: top;
            }
            label {
              position: absolute;
              right: 2px;
              display: inline-block;
            }
            &.mixin {
              height: 33px;
              span {
                font-size: 14px;
              }
            }
            &.submit {
              height: 52.5px;
              margin-bottom: 0;
            }
          }
          input[type="text"] {
            padding: 5px;
            border: none;
            background: #ffffff;
            @include border-radius();
          }
          input[type="text"],
          select {
            width: 100%;
            height: 40px;
            color: #a98b82;
            border: 1px solid #e6d1c8;
            background: #ffffff;
            @include font-smoothing();
          }
          @include at($width-desktop) {
            margin-bottom: 0;
          }
        }
      }
    }
    .html-block,
    .css-block {
      @include span();
      @include at(1300) {
        @include span(6,15);
      }
    }
    .html-block {
      margin-bottom: 20px;
      @include at(670) {
        @include span(8);
      }
      @include at(1000) {
        @include span(3,8);
      }
    }
    .css-block {
      @include at(1000) {
        @include span(3,8);
      }
    }
    .html-block,
    .css-block {
      @include at(1300) {
        @include span(6,15);
      }
    }
  }
}