.region.basic-use {
  & > section {
    @include font-rem(16);
    margin-bottom: 30px;
    @include grid();
    .magic {
      margin-bottom: 20px;
      h4 {
        margin-bottom: 40px;
      }
      .selectors {
        @include grid();
        .squishy-selectors {
          margin-bottom: 40px;
          h5 {
            margin-bottom: 10px;
            text-transform: uppercase;
            @include font-smoothing();
          }
          @include at(1500, 2556) {
            @include span(6);
          }
          @include at(2000, 2556) {
            @include span(3);
          }
          .text-output {
            @include grid(4%);
            .text,
            .output {
              @include span(6,$gutter: 4%);
              p {
                em {
                  @include font-em(15);
                  line-height: 1;
                  color: $color-blue;
                  code {
                    @include font-em(15);
                    line-height: 1;
                  }
                }
              }
            }
            .output .highlight {
              padding: 20px;
              background: #f3e4db;
              border: 1px solid #e6d1c8;
              code {
                white-space: pre-wrap;       /* css-3 */
                white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
                white-space: -pre-wrap;      /* Opera 4-6 */
                white-space: -o-pre-wrap;    /* Opera 7 */
                word-wrap: break-word;
              }
            }
          }
        }
      }
    }
  }
}